@{
    ViewData["Title"] = "Games List :: GamersPlace";
}

<div class="container">
    <h1 class="display-4">Games List</h1>
    <p>My own small game shop - in admin panel you can add game genres and games in categories of game genres.</p>

    <div id="games-list">
        <div class="text-center w-100 mt-5">
            ⬇️ Loading games...
        </div>
    </div>
</div>
